$white: #fff;
$black: #000;
$gray: #e5e5e5;
$gray-hover: #ececec;

$radius: 4px;

$padding: .5rem;

$font-size: 1rem;

// $main: #ef9527;
// $white: #fff;
// $white-lite: #f3f3f3;
// $white-transparent: #ffffff70;
// $dark: #1f1c1c;
// $light-black: #323030;
// $gray-light: #aaaaaa;
// $peach: #FBF2E7;
// $pink: #FFD0D9;
// $blue: #60B3FF;
// $green: #79D8A6;
// $yellow: #ffbd59;